@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  color: $color-text-main;
  background: $color-bg-page;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  min-height: 100vh;
}
